# # This is a basic workflow to help you get started with Actions

# name: Build and Deploy

<<<<<<< HEAD
# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "staging" ]
  pull_request:
    branches: [ "main" ]
=======
# # Controls when the workflow will run
# on:
#   # Triggers the workflow on push or pull request events but only for the "main" branch
#   push:
#     branches: [ "main" ]
#   pull_request:
#     branches: [ "main" ]
>>>>>>> c0fb57dad281b0675ce02fde12d171db5565e227

#   # Allows you to run this workflow manually from the Actions tab
#   workflow_dispatch:

# # A workflow run is made up of one or more jobs that can run sequentially or in parallel
# jobs:
#   # This workflow contains a single job called "build"
#   build:
#     # The type of runner that the job will run on
#     runs-on: ubuntu-latest

<<<<<<< HEAD
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@main

      # Runs a single command using the runners shell
      #- name: Install dependencies
      #  run: npm ci
      - name: Archive production artifact
        uses: actions/upload-artifact@main
        with:
          name: public
          path: public
  deploy:
    name: Deploy
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@main
      - name: Archive production artifact
        uses: actions/download-artifact@main
        with:
          name: public
          path: public
      - name: Deploy to Firebase
        uses: w9jds/firebase-action@master
        with:
          args: deploy --only hosting
        env:
          FIREBASE_TOKEN: ${{secrets.FIREBASE_TOKEN}}
=======
#     # Steps represent a sequence of tasks that will be executed as part of the job
#     steps:
#       # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
#       - uses: actions/checkout@main

#       # Runs a single command using the runners shell
#       #- name: Install dependencies
#       #  run: npm ci
#       - name: Archive production artifact
#         uses: actions/upload-artifact@main
#         with:
#           name: public
#           path: public
#   deploy:
#     name: Deploy
#     needs: build
#     runs-on: ubuntu-latest
#     steps:
#       - name: checkout repository
#         uses: actions/checkout@main
#       - name: Archive production artifact
#         uses: actions/download-artifact@main
#         with:
#           name: public
#           path: public
#       - name: Deploy to Firebase
#         uses: w9jds/firebase-action@master
#         with:
#           args: deploy --only hosting
#         env:
#           FIREBASE_TOKEN: ${{secrets.FIREBASE_TOKEN}}
>>>>>>> c0fb57dad281b0675ce02fde12d171db5565e227
          

#       # Runs a set of commands using the runners shell
#       - name: is Depolyment done ?
#         run: |
#           echo yes,
#           echo test, and deploy your project.
