name: Build and Deploy Api
on:
  push:
    branches:
      - main
      - devenv
      - staging
jobs:
  api:
    name: Build and Deploy Api
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      run: echo ${GITHUB_REF#refs/heads/}
    
