name: Build and Deploy Api
on:
  push:
    branches:
      - main
jobs:
  api:
    name: Build and Deploy Api
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@master
    - name: Deploy to Firebase
      uses: w9jds/firebase-action@master
      with:
        args: deploy --only hosting
      env:
        FIREBASE_TOKEN: ${{secrets.FIREBASE_TOKEN}}
        FIREBASE_PROJECT_PATH: public
