name: Build and Deploy Api
on:
  push:
    branches:
      - main
jobs:
  api:
    name: Build and Deploy Api
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@master
    - name: Deploy to Firebase
      uses: lowply/deploy-firebase@v0.0.3
      env:
        FIREBASE_TOKEN: ${{secrets.FIREBASE_TOKEN}}
        FIREBASE_PROJECT: master-73998
        TARGET_BRANCH: main
        FIREBASE_PROJECT_PATH: public
