name: Build and Deploy Api
on:
  push:
    branches:
      - staging
jobs:
  api:
    name: Build and Deploy Api
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@master
    - name: Apply target
      uses: w9jds/firebase-action@master
      with:
        args: target:apply hosting staging
      env:
        FIREBASE_TOKEN: ${{secrets.FIREBASE_TOKEN}}
    - name: Deploy to Firebase
      uses: w9jds/firebase-action@master
      with:
        args: deploy --only hosting:staging
      env:
        FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
        FIREBASE_PROJECT_PATH: public